*.so
build/
*/build/*
dist/
*/dist/*
*.egg-info/
*/*.egg-info/
*.egg
*.log
/.idea/*
/.vscode/*
*.pyc
*.asv
*.mp4
*.mex*
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*
*.slxc
.MATLABDriveTag
slprj/
sccprj/
codegen/
*.mlappinstall
*.mltbx
*.ctf
release/*
.buildtool/*
toolbox/doc/html/*
**/.buildtool/*